@import '../../styles/base.scss';

.cast {
  width: 730px;
  /* padding-right: 15px;
  padding-left: 15px; */
  margin: 0 auto;
}

.cast__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin: -25px -15px;
}

.cast__item {
  width: 160px;
  margin: 25px 15px;
}

/* .cast__img-box {
  width: 100%;
  height: 240px;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}

.cast__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;

  text-align: center;
  font-size: 14px;

  background-color: transparent;
}

.cast__content-decor {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;

  background-color: $accent-color;
  box-shadow: 0 1px 4px rgba(33, 235, 255, 0.8), 0 2px 8px rgba(33, 235, 255, 0.8);
}

.cast__content__title {
  margin-top: 12px;
  margin-bottom: 5px;

  font-size: 12px;
  color: $accent-color;
  text-transform: lowercase;
} */

.cast__card {
  position: relative;

  cursor: pointer;
  overflow: hidden;
}

.cast__img-box {
  width: 100%;
  height: 240px;

  border-radius: 5px;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    border-radius: 5px;
    /* background-color: rgba(0,0,0,0.15); */
  }
}

.cast__content {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 8px;

  font-size: 13px;
  text-align: center;

  backdrop-filter: blur(15px);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  /* z-index: 1; */
  transition: 300ms;

  .cast__card:hover & {
    transform: translateY(0);
  }
}

.cast__content__title {
  margin-top: 12px;
  margin-bottom: 5px;

  font-size: 11px;
  color: $accent-color;
  text-transform: lowercase;
}

.cast__card-decor {
  width: 94%;
  height: 1px;
  transform: translateX(3%);
  background-color: $accent-color;
  box-shadow: 0 1px 3px rgba(33, 235, 255, 0.8), 0 2px 6px rgba(33, 235, 255, 0.8),
    0 3px 10px rgba(33, 235, 255, 0.8);
}
