@import '../../styles/base.scss';

.search-form-container {
    
}

.search-form {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.search-form__input-wrap {
    position: relative;
    
}

.search-form__input {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 20px;

    border: none;
    border-bottom: 1px solid $icon-color;
    background-color: transparent;
    outline: none;

    font-size: 18px;
    color: $icon-color;
    /* font-weight: 400; */
    letter-spacing: 2px;
    line-height: 2em;
    text-transform: uppercase;
    


    /* -webkit-box-reflect: below 0px linear-gradient(transparent 35%, #0008); */
    /* animation: animate 5s linear infinite; */
    transition: 300ms;

    &:focus {
        border-bottom: 1px solid $accent-color;
        color: $main-text-color;
        text-shadow: 0 0 2px $accent-color,
        0 0 4px $accent-color,
        0 0 8px $accent-color;
        /* 0 0 40px #21ebff,
        0 0 80px #21ebff; */
    }
}

/* @keyframes animate {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%  {
        color: rgb(12, 12, 12);
        text-shadow: none;
    }
    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100%
    {
        color: #fff;
        text-shadow: 0 0 5px #21ebff,
        0 0 10px #21ebff,
        0 0 20px #21ebff,
        0 0 40px #21ebff,
        0 0 80px #21ebff;
    }
} */

.search-form__button {
    @extend %button;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;

    background-color: transparent;
}

.search-form__icon {
    color: $icon-color;
    font-size: 30px;
    /* -webkit-box-reflect: below 12px linear-gradient(transparent 35%, #000); */

    transition: 300ms;

    .search-form__input-wrap:focus-within & {
        color: $accent-color;
    }
}

/* .pagination-container {
    display: flex;
    justify-content: center;
}

.pagination {
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: center;
    list-style: none;
    outline: none;
}

.pagination__page {    
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.prev-page {
    width: 50px;
    height: 50px;
}

.prev-page > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.prev-page-icon {
    font-size: 20px;
    color:red;
    fill:red;
}

.next-page {
    width: 50px;
    height: 50px;
}

.next-page > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.break-page {

} */

/* .pagination-container {
    display: flex;
    justify-content: center;
} */

.pagination {
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    outline: none;
}

.pagination__page {
    position: relative;
    width: 40px;
    height: 40px;
    
    
    font-size: 18px;
    font-weight: 500;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    color: $main-text-color;

    border-radius: 4px;

    transition: 300ms;

    &:hover {
        color: $secondary-text-color;
        background-color: $accent-color;
        box-shadow: 0 0 2px $accent-color,
        0 0 10px $accent-color;
    }
}

.pagination__active-page {

}

.pagination__active-link {
    color: $secondary-text-color;
    font-weight: 500;

    background-color: $accent-color;
    box-shadow: 0 0 2px $accent-color,
    0 0 10px $accent-color;

    transform: scale(1.1);
}

/* .pagination__first-page {
    font-weight: 700;
    
}

.pagination__prev-page {
    font-weight: 700;
} */