@import '../../styles/base.scss';

.movies {
    width: 1240px;
    margin: 0 auto;
}

.movies__list {
    @extend %list; 
}

.movies__card {
    position: relative;
    width: 200px;
    height: 300px;
    perspective: 1000px;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    justify-content: center;
    align-items: center;

    border-radius: 4px;

    overflow: hidden;
    backface-visibility: hidden;
    transition: 750ms;
}

.front {
    
    opacity: 1;
}

.back {
    background-color: #fff;
    transform: rotateY(180deg);
    opacity: 0;
}

.movies__card:hover .front {
    transform: rotateY(180deg);
    opacity: 0;
}

.movies__card:hover .back {
    transform: rotateY(360deg);
    opacity: 1;
}