@import '../../styles/base.scss';

.search-form {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 50px;

    @include for-size(tablet) {
        width: 400px;
        margin-bottom: 60px;
    }

    @include for-size(desktop) {
        width: 600px;
        margin-bottom: 70px;
    }
}

.search-form__input-wrap {
    position: relative;
    
}

.search-form__input {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 10px;

    border: none;
    border-bottom: 1px solid $icon-color;
    background-color: transparent;
    outline: none;

    font-size: 14px;
    color: $icon-color;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-transform: uppercase;
    
    transition: 300ms;

    &:focus {
        border-bottom: 1px solid $accent-color;
        color: $main-text-color;
        text-shadow: 0 0 2px $accent-color,
        0 0 4px $accent-color,
        0 0 8px $accent-color;
    }

    @include for-size(tablet) {
        padding: 0 12px;

        font-size: 16px;
        letter-spacing: 2px;
        line-height: 1.7em;
    }

    @include for-size(desktop) {
        padding: 0 15px;

        font-size: 18px;
        line-height: 2em;
    }
}

.search-form__button {
    @extend %button;
    position: absolute;
    top: 0;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    background-color: transparent;

    @include for-size(tablet) {
        top: -2px;
        right: 1px;
        width: 30px;
        height: 30px;
    }

    @include for-size(desktop) {
        top: 0;
        right: 3px;
        width: 37px;
        height: 37px;
    }
}

.search-form__icon {
    color: $icon-color;
    font-size: 20px;

    transition: 300ms;

    .search-form__input-wrap:focus-within & {
        color: $accent-color;
    }

    @include for-size(tablet) {
        font-size: 25px;
    }

    @include for-size(desktop) {
        font-size: 30px;
    }
}

.pagination {
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    outline: none;
}

.pagination__page {
    position: relative;
    width: 27px;
    height: 27px;
    
    
    font-size: 12px;
    font-weight: 400;

    &:not(:last-child) {
        margin-right: 5px;
    }

    @include for-size(tablet) {
        width: 35px;
        height: 35px;

        font-size: 14px;
        font-weight: 500;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    @include for-size(desktop) {
        width: 40px;
        height: 40px;

        font-size: 18px;
    }
}

.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    color: $main-text-color;

    border-radius: 4px;

    transition: 300ms;

    &:hover {
        color: $secondary-text-color;
        background-color: $accent-color;
        box-shadow: 0 0 2px $accent-color,
        0 0 10px $accent-color;
    }
}

.pagination__active-page {

}

.pagination__active-link {
    color: $secondary-text-color;
    font-weight: 500;

    background-color: $accent-color;
    box-shadow: 0 0 2px $accent-color,
    0 0 10px $accent-color;

    transform: scale(1.1);
}
